* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* form banner */
.form-banner img {
  height: 100%;
  width: 100%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-container .form-control {
  width: 350px;
}

/* loader */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.dna-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* navbar */
.navbar {
  background-color: black !important;
  color: white !important;
}
.nav-link,
.navbar-brand {
  background-color: black !important;
  color: white !important;
}
